src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
	http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="patchUser" doc:id="b83ddcce-95a1-4997-a01e-7ac5a2fca166">
		<ee:transform
			doc:name="Transform input JSON into Map and create patientData variable"
			doc:id="123302f9-bbcd-42d8-a29f-0b59d60d4800">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
attributes.queryParams.login]]></ee:set-payload>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="patientData"><![CDATA[%dw 2.0
output application/java
---
payload ++ {
	login: attributes.queryParams.login
}
]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<http:request method="GET"
			doc:name="Call Identity Service GET users by login" doc:id="a912f6b4-1d5b-4687-8d7c-a84ec9fc68c6"
			config-ref="HTTP_Identity_Service_Request_Configuration" path="/users">
			<http:query-params><![CDATA[#[output applicaton/java
---
{
	login : payload
}]]]></http:query-params>
		</http:request>
		<choice doc:name="Does user with the login exist?" doc:id="cd5bd055-98a7-4246-a271-b386e7c8117c">
			<when expression="#[sizeOf(payload) != 0]">
				<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
					xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd"
					doc:id="f36857db-efab-43e3-85e8-97f68ece0680" doc:name="Create PATCH User request">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{	
	"password" : vars.patientData.password
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<http:request method="PATCH" doc:name="Call Identity Service PATCH User"
					doc:id="39a9778f-69f6-4606-a645-2bb17fe84340" config-ref="HTTP_Identity_Service_Request_Configuration"
					path="/users/{login}">
					<http:uri-params><![CDATA[#[output applicaton/java
---
{
	login : vars.patientData.login
}]]]></http:uri-params>
				</http:request>
				<ee:transform doc:name="Create JSON response"
					doc:id="6778d80f-dc74-46c0-8fad-8643ffc5e4a9">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  "message": "User was updated successfully."
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<otherwise>
				<ee:transform doc:name="Create JSON response"
					doc:id="3fc530ed-e14c-4f16-a6ac-47c26d1457aa"
					xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "User with specified login does not exist."
}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus"><![CDATA[404]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</otherwise>
		</choice>
	</flow>
	<flow name="createUser" doc:id="55e25e55-020a-4e0c-9913-e213f18238bc">
		<ee:transform
			doc:name="Transform input JSON into Map and create patientData variable"
			doc:id="bff93d43-f25d-4770-a6ad-6676518d0ab2">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="patientData"><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<http:request method="GET"
			doc:name="Call Identity Service GET users by login" doc:id="7fe14337-8a5f-481a-8dfe-b46d6113aa6d"
			config-ref="HTTP_Identity_Service_Request_Configuration" path="/users">
			<http:query-params><![CDATA[#[output applicaton/java
---
{
	login : payload.login
}]]]></http:query-params>
		</http:request>
		<choice doc:name="Does user with the same login exist?" doc:id="bffc4035-1ebe-456d-800c-db156916b129">
			<when expression="#[sizeOf(payload) == 0]">
				<logger level="INFO" doc:name="Log 'Login is available'" doc:id="7a8f3b44-2be9-41e8-9870-70bcb2acc336" message="Login is available" />
				<ee:transform doc:name="Create Patient FHIR" doc:id="757d6c2d-bb5f-494e-b981-ae2e5b56be54">
					<ee:message>
						<ee:set-payload resource="patient_fhir.dwl" />
					</ee:message>
					<ee:variables>
						<ee:set-variable resource="patient_fhir.dwl" variableName="sfhcPatient" />
					</ee:variables>
				</ee:transform>
				<logger level="INFO" doc:name="Log 'Creating patient...'" doc:id="08cb58fa-4e33-4ab1-8346-409a4b0e4cab" message="Creating patient: #[payload]" />
				<http:request method="POST" doc:name="Create Patient using EHR FHIR System API" doc:id="d440c031-dd17-4bc5-bf64-2f0a83b58e74" config-ref="HTTP_EHR2FHIR_System_API_Request_Configuration" path="/Patient" />
				<ee:transform doc:name="Create Patient FHIR with Identifier" doc:id="d2f8ec66-02c3-4ee6-a394-cba175493329">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
vars.sfhcPatient ++ {
	identifier: [{
		value: payload.id
	}]
}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="patientId"><![CDATA[%dw 2.0
output application/java
---
payload.id]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
				<logger level="INFO" doc:name="Log 'Creating patient in SFHC'" doc:id="5ba63dbb-b68f-4a4c-9c86-efd36b391d62" message="Creating patient in SFHC: #[payload]" />
				<http:request method="POST" doc:name="Create Patient using SFHC FHIR System API" doc:id="65ad8e70-6b70-44b4-80a8-fae50c7cd162" config-ref="HTTP_SFHC2FHIR_System_API_Request_Configuration" path="/Patient" />
				<ee:transform doc:name="Create POST User request" doc:id="9aee454b-9fb9-48fa-ba2e-a587ec9e5ac7">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{	
	"login" : vars.patientData.login,
	"password" : vars.patientData.password,
	"patientId" : vars.patientId
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<logger level="INFO" doc:name="Log 'Creating user'" doc:id="6f3baf1e-4e41-45f3-ac5a-6aa3379f51aa" message="Creating user with patient ID: #[payload.patientId]" />
				<http:request method="POST" doc:name="Call Identity Service POST User" doc:id="5f17a5a7-b2b6-4ca2-867c-f783b78a669d" config-ref="HTTP_Identity_Service_Request_Configuration" path="/users" />
				<ee:transform doc:name="Create JSON response" doc:id="c0a3b90f-0bb2-4e1c-b879-003b22d04a7e">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  "patientId" : vars.patientId,
  "message": "Registration completed successfully. You can log in with your credentials."
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<otherwise>
				<logger level="INFO" doc:name="Log 'Login already in use'" doc:id="204822ab-76e8-4c83-a6f9-1d662f76be2f" message="Login is already in use" />
				<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="7101be51-4b99-4608-9b7b-5ae02c4a46a8" doc:name="Create JSON response">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Login you are trying to set is already in use. Please, choose another one."
}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus"><![CDATA[409]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</otherwise>
		</choice>
	</flow>
</mule>
